/* Base styles */
.dark-background {
    background-color: #0b0b0b;
    background-size: cover;
}

.bulb-image {
    width: 150px;
}

.cat-image {
    width: 300px;
}

.switch-board {
    background-color: #7b8794;
    width: 294px;
    height: 139px;
    border-radius: 12px;
    padding: 32px 16px;
    margin: 16px;
}

.switch-status {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}

.on-switch,
.off-switch {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
    width: 99px;
    height: 44px;
    border-radius: 8px;
    margin-left: 16px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .bulb-image,
    .cat-image {
        width: 100px;
    }

    .switch-board {
        width: 100%;
        height: auto;
        padding: 16px;
    }

    .switch-status {
        font-size: 20px;
    }

    .on-switch,
    .off-switch {
        width: 80px;
        height: 36px;
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .bulb-image,
    .cat-image {
        width: 80px;
    }

    .switch-status {
        font-size: 18px;
    }

    .on-switch,
    .off-switch {
        width: 70px;
        height: 30px;
        font-size: 18px;
    }
}
